version: 2.0.0-build{build}
image: Visual Studio 2017 Preview
before_build:
- cmd: dotnet restore
build:
  verbosity: minimal
branches:
    only:
        - master
after_build:
- ps: dotnet publish -c Release -r win10-x64 -o "../$env:APPVEYOR_PROJECT_NAME-$env:APPVEYOR_REPO_COMMIT-win-x64"
- ps: dotnet publish -c Release -r win10-x86 -o "../$env:APPVEYOR_PROJECT_NAME-$env:APPVEYOR_REPO_COMMIT-win-x86"
- ps: dotnet publish -c Release -r ubuntu.16.10-x64 -o "../$env:APPVEYOR_PROJECT_NAME-$env:APPVEYOR_REPO_COMMIT-linux-x64"
- ps: Get-ChildItem $env:APPVEYOR_PROJECT_NAME-* | % { 7z a -tzip $_.Name $_.FullName }
- ps: Get-ChildItem *.zip | % { Push-AppveyorArtifact $_.FullName }